body{
    background-image: linear-gradient(#8d8a8a,white);
    background-repeat: no-repeat;   
}
.container{
    width: 90%;
    background-color: white;
    margin: 0 auto;

}
.header h1{
    margin-top: 0;
}
.header{
    padding: 10px;
}
.block{
    padding: 10px;
    position: relative;
}
.title{
    background-color: #c6d6e3;
    color: #494d94; 
    line-height: 40px;
    font-size: 25px;
}
.image{
    position:absolute;
    right: 10px;;
    top: 10px;
    height: 300px;
    width: 350px;
    z-index: 1;
}
.table {
    border-collapse: collapse;
}
.grey{
    background-color: #EAEAEA;
}
.blue{
    color: #3678B7;
}